# Contents

1. **[Introduction to List](#list)**
2. **[Introduction to Tuple](#tuple)**
3. **[Introduction to Dictionary](#Dictionary)**
3. **[Introduction to Sets](#sets)**

<a id="list"> </a>
## 1. Introduction to List

### Constructing Lists

To create a list, use square brackets [ ] and separate items in the list with commas.
A list can be empty or contain any number of items with different data types (integers, float, strings, etc.)

In [1]:
#create a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

### Acessing Elements in a List
You can access the list items by referring to the index number

**Indexing:**<br>
We use the index operator [ ]. Each item in a list has an assigned index value. Note that the index starts from 0 in python and must be an integer

In [5]:
# access the second item of a list at index 1
print(course[1])

machine learning

**Negative Indexing**:<br>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item

In [6]:
#Print the second last item of the list
print(course[-2])

html

### Slicing of a List
List uses the slicing operator : (colon) to extract part of the sequence

In [8]:
#Return first three elements from the list
course[:3]

['data science', 'machine learning', 'python']

In [2]:
#If all three start , stop, and step are provided, it 
#generates portion of sequence after index start till stop with increment of index step
#a = [1,2,3,4,5,6,7,8,9,10]
#print(a[2:7:2])

### Change Item Value
Refer the index number to change the value of a specific item

In [3]:
# change the third item
course[3] = 'statistics'
course

['data science', 'machine learning', 'python', 'statistics', 'big data']

### List Methods
Python has a set of built-in methods that you can use on lists. Some examples are:<br>

`append()`<br>
`insert()`<br>
`reverse()`<br>

You can press the `tab` key to see the list of available methods

**`list.append()`**<br>
This method will add the element at the end of a list

In [7]:
# add element to the list
course.append('R')
course

['data science',
 'machine learning',
 'python',
 'statistics',
 'big data',
 'java',
 'java',
 'R']

**`list.insert(i, item)`**<br>
This method will insert an element at the ith index in a list

In [14]:
# insert element at 2nd index in a list
course.insert(2, 'statistics')
course

['data science',
 'machine learning',
 'statistics',
 'python',
 'html',
 'big data']

**`list.reverse()`**<br>
This method reverses the sorting order of the elements

In [8]:
# reverse the elements in the list
course.reverse()
course

['R',
 'java',
 'java',
 'big data',
 'statistics',
 'python',
 'machine learning',
 'data science']

<a id="tuple"> </a>
## 2. Introduction to Tuple

### Creating Tuple
We can have tuple of same type of data items as well as mixed type of data items

In [24]:
# tuple of int, float, string
my_tuple = (123, 2.228, "hello python")
print(my_tuple)

(123, 2.228, 'hello python')

In [25]:
# tuple of string and list
my_tuple = ("python", [12, 12, 31])
print(my_tuple)

('python', [12, 12, 31])

### Access Tuple Elements
We use indexes to access the elements of a tuple

In [27]:
# access the second element from the tuple
my_tuple[1]

'yellow'

**Negetive Indexing**<br>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item of the tuple

In [12]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# print last item of the tuple
my_tuple[-1]

'blue'

### Change Tuple Values
We cannot change the elements of a tuple because elements of tuple are immutable.

In [1]:
# change the second element from the tuple
my_tuple[1] = 99
print(my_tuple)

(123, 's', 'a', 'v', 'World')

TypeError: 'tuple' object does not support item assignment

### Delete Operation on Tuple
As discussed tuple elements are immutable which also means that we <span style="color:crimson">cannot delete the elements of a tuple</span>. However deleting entire tuple is possible

In [16]:
# delete element from the tuple

del my_tuple[0]    # will give an error

del my_tuple  # will work

### Tuple Methods

Python has built-in methods that you can use on tuples:<br>

`count()`<br>
`index()`<br>

You can press the `tab` key to see the list of available methods

**`tuple.count()`**<br>
Returns the **number of times** a specified value occurs in a tuple

In [4]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.count('e')

**`tuple.index()`**<br>
Searches the tuple for a specified value and returns the position of **where** it was found

In [1]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.index('l')

3

<a id="dictionary"> </a>
## 1. Introduction to Dictionary

**General Syntax of Dictionary:**<br>
dictionary_name = {&nbsp;key_1: value_1,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   key_2: value_2,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    key_3: value_3,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    }

### Create a Dictionary
Separate keys from values with a colon `:` and a pair from another by a comma `,` Put it all in curly `{}` braces

In [4]:
#create dictionary
account = {
    "Elon" : 83847,
    "Bezos" : 83837,
    "Mark" : 94766
}
print(account)

{'Elon': 83847, 'Bezos': 83837, 'Mark': 94766}

### Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets

In [12]:
#Get the value of a key
account["Mark"]

565556

### Change Values
You can change the value of a specific element by referring to its key name

In [13]:
#Change a value
account['Mark'] = 565556
account

{'Elon': 83847, 'Bezos': 83837, 'Mark': 565556}

### **Adding Items**
Adding an item to the dictionary is done by using a new index key and assigning a value to it.

In [15]:
#Add new item to the dictionary

account['Bill'] = 55000
account

{'Elon': 83847, 'Bezos': 83837, 'Mark': 565556, 'Bill': 55000}

### Dictionary Methods

There are several methods that you can use on a dictionary:<br>

`pop()`<br>
`clear()`

You can press the `tab` key to see the list of available methods

**`dict.pop()`**<br>
This method removes the item with the specified key name

In [20]:
# remove key from dictionary
account
account.pop('Elon')

{'Elon': 83847, 'Bezos': 83837, 'Mark': 565556, 'Bill': 55000}

**`dict.clear()`**<br>
This method empties the entire dictionary

In [21]:
#clear the dictionary
account.clear()
account

{}

<a id="sets"> </a>
## 2. Introduction to Sets

### Creating a Set
In Python sets are written with curly `{}`brackets

In [22]:
# create a set
s = {1, 2, 3, 3, 4, 3, 3, 2, 2, 2}
print (s)

{1, 2, 3, 4}

**Try it yourself.**

Python has the following methods that you can use on sets:<br>

`add()`<br>
`update()`<br>
`len()`<br>
`pop()`<br>

**Practical use of methods**

In [16]:
import pandas as pd
df = pd.read_csv('train.csv')
df.head()

,p_id,no_times_pregnant,glucose_concentration,blood_pressure,skin_fold_thickness,serum_insulin,bmi,diabetes pedigree,age,diabetes
0,316,2,112,68,22,94,34.1,0.315,26,0
1,25,11,143,94,33,146,36.6,0.254,51,1
2,710,2,93,64,32,160,38.0,0.674,23,1
3,658,1,120,80,48,200,38.9,1.162,41,0
4,542,3,128,72,25,190,32.4,0.549,27,1

In [1]:
#df.sort_values(['age'])