## **Python Variables**

#### Declaring and assigning a value to a variable
We use the assignment operator  '='  to assign a value to a variable.

In [2]:
num = 20

In [4]:
num

20

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. Here, we have created a variabe named `'num'` and we have assigned value `20` to `'num'` variable.

#### Multiple assignments
Python allows you to assign a single value to several variables simultaneously. For example −

In [5]:
#assign value 5 to variables x,y,z
x=y=z=5
x

5

In [7]:
print(y)
print(z)

5
5

You can also assign multiple objects to multiple variables

In [8]:
a,b,c = 5, 'Hello', 1.2

In [12]:
c

1.2

#### Re-assigning a variable

In [14]:
var1 = 20
var2 = 'Nick'
var1 = var2
var1

'Nick'

In [21]:
#Using keywords as variable name
break1 = 20
break1

20

In [25]:
#keywords in Python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']


## **Python Data Types**

A data type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data. Python supports the following Python data types:


*  int (integers)
*  float (floating point real values)
*  long (long integers, discontinued in Python 3)
*  complex (complex numbers)
*  Boolean (True, False)
*  Strings

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>100</td>
  <td>52.1</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
</table>

## int
An integer, or int, is a whole number. It has no decimal point and contains the number 0, positive and negative counting numbers. If we were counting the number of people on the bus or the number of jellybeans in a jar, we would use an integer. We can use the type() function to find which class it belongs to.

In [27]:
num = 50
type(num)

int

In [28]:
num = -50
type(num)

int

## float
A floating-point number, or a float, is a decimal number. It can be used to represent fractions or precise measurements. If you were measuring the length and width of the window, calculating the average test score, or storing a baseball player’s batting average, we would use a float instead of an int.

In [30]:
flt = 1.226
type(flt)

float

In [33]:
flt2 = 1.62e6
type(flt2)

float

## long

Long does not exist in Python 3 onwards

In [34]:
x = 9999999999999999
type(x)

int

## complex

Complex numbers are not used much in Python

In [35]:
y = 1+2j
type(y)

complex

## Booleans

A Boolean data type stores a value that can only be either true or false. In Python, it's capitalized True or False.

In [ ]:
month_dec = False

In [2]:
# try running this
5 == 5

## Strings

A string is a sequence of characters. You can delimit a string using single quotes `'string'` or double-quotes `"string"`.

In [47]:
call = 'Python is PL'
type(call)

str

In [39]:
string2 = "it's his dog"
string2

"it's his dog"

**String operations**

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

You **cannot** use the minus(-) operator and the division(/) operator on strings.

In [1]:
#Print a concatenated string      
str1 = 'Hello'
str2 = 'world'
str3 = str1+str2
str3

'Helloworld'

In [49]:
#Print a string three times  
str3 * 4

'HelloworldHelloworldHelloworldHelloworld'

**Indexing in Python**

Subsets of strings can be taken using the slice operator ([ ]). You can display a character from a string using its index in the string. Remember, indexing in python starts with `0`

In [2]:
#Print sixth character of the string
str3[5]

'w'

You can also display a range of characters in a string using the slicing operator with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [55]:
# Print characters starting from 10th to 15th character
str3

'Helloworld'

In [58]:
#to get 'llo'
str3[2:5]

'llo'

Strings are immutable.

In [59]:
str3[0] = 'h'

TypeError: 'str' object does not support item assignment

<a id="bool"> </a>
### Python Boolean
In Python programming language, the Boolean datatype is a primitive datatype having one of two values: **True** or **False**.

In [61]:
Boo = True
type(Boo)

bool

In [63]:
10 > 9

True

In [64]:
10 < 9

False

<a id="typecon"> </a>
## **Type Conversion**
If you want to convert a value into another type, Python supports different type conversion functions like int(), float(), str() etc.

#### float()
It converts the passed value into a float.

In [71]:
x = 1
float(x)

1.0

You can turn a Boolean into an float.

In [68]:
float(True)

1.0

In [69]:
float(False)

0.0

You cannot turn a string into an float. It throws an error. However, if the string has only numbers, then you can.

In [73]:
x = 'string'
float(x)

ValueError: could not convert string to float: 'string'

#### int

Conversion from float to int will round-off the value (make it closer to zero).

In [76]:
x = 11.7
int(x)

11

 You can also turn a Boolean into an int.

In [81]:
int(True)

1

You cannot turn a string into an int. It throws an error. However, if the string has only numbers, then you can.

#### str()
<em>str()</em> converts the value into a string.

In [83]:
x = 1
type(x)
str(x)

'1'

<a id="print"> </a>
## **Python print()**

In [84]:
#initialize a variable and pass two objects
x = 'Hello'
print(x)

Hello

## **User Input**

The Python input() function is used to read data from a standard input such as a keyboard and treats the received data by default as `string`. Basically, when we enter digit value, input() in python 3 stores it as string value. So to convert string value to integer value, we will use int() function just as shown below.

In [87]:
age = int(input('What is your age?'))
new=age+10
print(new)

What is your age?10
20

When `input()` function executes program flow will be stopped until the user has given an input. The message displayed on the output screen to ask a user to enter input value is optional i.e. the prompt, will be printed on the screen is optional.
Whatever you enter as input, input function convert it into a string. if you enter an integer value still `input()` function convert it into a string.

## **Python Operators**

<a id="arith"> </a>
### 1. Arithmetic Operators
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

Python has the following arithmetic operators:

`+`  Addition<br>
`-`  Subtraction<br>
`*`  Multiplication<br>
`**` Exponential<br>
`/`  Division (returns the quotient)<br>
`%`  Modulo (returns the remainder)<br>

In [93]:
a = 2
b = 4
# '+' Operator prints addition of a and b
print(a+b)

# '-' Operator prints subtraction of  a and b
print(b-a)

# '*' Operator prints multiplication of  a and b
print(b*a)

# '**' Operator prints exponential of a
print(a**2)

# '%' Operator prints remainder of division between a and b
print(b%2)

# '/' Operator prints division of  a and b (quotient)
print(b/2)

# '//' Operator prints the interger value of the division between a and b 
print(b//2)

# '**' Operator prints the result of a to the power b
print(b**2)

6
8
0
2.0
2
16

<a id="comp"> </a>
### 2. Comparison Operators

`==` equal to

`!=` not equal to

`>` greater than

`<` less than

`>=` greater than or equal to

`<=` less than or equal to

Comparison Operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It either returns <em>True</em> or <em>False</em> according to the condition.

In [3]:
a = 2
b = 4

# '>' Operator
print(b > a)

# '<' Operator

# '==' Operator
print(b==a)

# '!=' Operator
print(b!=a)
# '>=' Operator

# '<= y' Operator

True
False
True

<a id="assign"> </a>
### 3. Assignment Operators
An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it.

Note:

i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)

In [10]:
# '=' Operator assigns the value to the variable on the left

a = 5 #assings the value of 5 to the variable a


# '+=' Operator
i = 3
i += 3
print(i)

# '-=' Operator
i = 3
i -= 3
print(i)

# '*=' Operator
i = 3
i *= 3
print(i)

# '/=' aOperator
i = 3
i /= 3
print(i)

6
0
9
1.0

<a id="logic"> </a>
### 4. Logical Operators
Logical operators are like conjunctions that you can use to combine more than one condition. We have three Python logical operator – **<em>and</em>**, **<em>or</em>**, and **<em>not</em>** that come under python operators.

#### 'and' Operator
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

In [7]:
# guess the Boolean output
3 == 3 and 4 == 4

In [ ]:
# guess the Boolean output
3 == 3 and 4 == 5

Here if both the conditions are satisfied, we have `True` as the output, else `False`

#### 'or' Operator
The expression is false only if both the statements around the operator are false. Otherwise, it is true.

In [9]:
# guess the Boolean output
3 == 3 or 4 == 4

In [ ]:
# guess the Boolean output
3 == 3 and 4 == 5

## Recap

Here's a quick recap of everything we learned in this class:

**Data types:** int, float, str, bool<br>

**Arithmetic operators:** `+, -, *, /`<br>

The `%`  modulo finds the remainder <br>

The `**`  exponentiation finds the exponent<br>

The `input()`  function is used to get user input<br>

The `int()`  function converts a value into an integer number.

## <span style="color:darkred">Quick Exercise</span>

Write a python code that converts a temperature from Fahrenheit (°F) to Celsius (°C).

Steps: 
1. Take the Fahrenheit input from the user
2. Do the Maths
2. Print out the converted temperature in celsius

Use the following formula and write it out in Python:

`Celsius = (Fahrenheit − 32) / 1.8`